<%- include('header'); %>
  <section class="edit">
    <h2>Connection Error</h2>
    <p>Database connection error.</p>
    <p>Maybe it can help:<br><%= err %></p>
  </section>
<%- include('footer'); %>