<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List App</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header class="header">
    <h1 class="header__title">To-Do List App</h1>
  </header>
  <section class="tasks">
    <form action="" id="taskForm">
      <input id="inputText" type="text" name="newTask">
      <button id="addItem" type="submit">Add</button>
    </form>
    <ul class="tasks__list">
      <% todos.forEach(todo => { %>
        <li class="tasks__item">
          <%= todo.name %>
          <a href="#" class="tasks__btnDelete">Delete</a>
        </li>
      <% }) %>
    </ul>
  </section>
</body>
</html>