<%- include('header'); %>
  <header class="header">
    <h1 class="header__subtitle">Connection Error</h1>
  </header>
  <section class="error">
    <p>Database connection error.</p>
    <p>If you are a developer, it can help:<br><%= err %></p>
  </section>
<%- include('footer'); %>